version: "3.9"

services:
  web:
    build: .
    container_name: index-search-web
    user: "0:0"
    ports:
      - "8010:8000"
    volumes:
      - ./:/app
      # Exakter Host-Pfad muss per ENV INDEX_ROOT gesetzt werden und dem Pfad in der Config entsprechen, z.B. INDEX_ROOT=/home/tom/projekte/INDEX
      - /storage/unimatrix/:/data:ro
    environment:
      - TZ=Europe/Berlin
    restart: unless-stopped
