version: "3.9"

services:
  web:
    build: .
    container_name: index-search-web
    ports:
      - "8000:8000"
    volumes:
      - ./:/app
    environment:
      - TZ=Europe/Berlin
    restart: unless-stopped
