@import "./00-tokens.css";
@import "./01-base.css";
@import "./02-layout.css";

/* Components */
@import "./03-components/buttons.css";
@import "./03-components/forms-filters.css";
@import "./03-components/table.css";
@import "./03-components/preview.css";
@import "./03-components/dialogs.css";
@import "./03-components/context-menu.css";
@import "./03-components/toasts.css";
@import "./03-components/feedback.css";

/* Pages */
@import "./04-pages/search.css";
@import "./04-pages/dashboard.css";
@import "./04-pages/metrics.css";
@import "./04-pages/viewer.css";
@import "./04-pages/docs.css";
